<h2><%= @question.inquiry() %></h2>

<section>
  <form action="/questions/<%= @question.id() %>" method="post">
    <input name="_method" value="patch" hidden>
    <fieldset>
      <legend>Edit this question:</legend>
      <label>Edit question</label>
      <input name="inquiry" value="<%= @question.inquiry() %>"/>
      <!--
      the 'At'survey.titleBRACKETS autopopulates the form html
    -->
    <button type="submit">Edit</button>
  </fieldset>
</form>
</section>

<section>
  <form action="/questions/<%= @question.id() %>" method="post">
    <input name="_method" value="delete" hidden>
    <fieldset>
      <legend>Delete this question. (This can't be undone!)</legend>
      <button type="submit">Delete</button>
    </fieldset>
  </form>
</section>

<a href="/surveys/<%= @question.survey.id() %>">Go back</a>
